@model RentalSystem.Models.Transport

<div class="card h-100 shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="my-0 fw-normal">@Model.Category</h5>
    </div>
    <div class="card-body d-flex flex-column">
        <h3 class="card-title pricing-card-title">@Model.Model</h3>
        <p class="mt-3 mb-4 text-muted flex-grow-1">
            @Model.Description
        </p>
        <h4 class="text-primary mb-3">@Model.PricePerDay.ToString("C") <small class="text-muted fw-light">/ доба</small></h4>

        <a asp-controller="Rent" asp-action="Index" asp-route-transportId="@Model.TransportID" class="w-100 btn btn-lg btn-outline-primary mt-auto">
            Забронювати
        </a>
    </div>
</div>